#Ignore compiled python
*.pyc
parsers/*.pyc
rudimentaries/*.pyc

#Ignore list preparations related stuff
list_preparations.py
test.py
static/lists/alt.csv
static/lists/sdn.csv
static/lists/EU_sanctions.csv
/locales/messages.pot
/locales/et/LC_MESSAGES/messages.po

#Ignore IDE stuff
.idea/
libs/
node_modules/
