{% extends "base.html" %}
{% block title %}
    Adminhaldus
{% endblock %}
{% block page_title %}
Adminhaldus
{% endblock %}
{% block head %}
 <script src="/static/js/operations.js"></script>
{% endblock %}
{% block content %}

    {% if message %}
    <div class="alert alert-{{ message_type }}" role="alert"><strong>NB!</strong> {{ message }}</div>
    {% endif %}
    <div class="alert alert-danger" role="alert"><strong>NB!</strong> If you want to check if operation is successful, see from log console.
    Rendering admin pages through cron requests is stupid - needs separation or decent refactoring if dev web admin actions messages are necessary.
    </div>

    <br/>
    <h3>Admin toimingud:</h3>
    <a href="/admin/manage">admin</a></br>
    <ul>Cron jobs:
    <li><a href="/sys/datastore_req" class="btn btn-info">Crawl</a> - generates a search and then maps found results for each valid request.</li><br/>
    <li><a href="/sys/implement_src" class="btn btn-info">Implement Sources</a> - takes user custom source requests and tries to implement them automatically.</li><br/>
    <li><a href="/sys/auto_archive" class="btn btn-info">Auto Archive</a> - takes old results and archives them automatically.</li>
        <br/><br/>

    </ul>
    <ul>Delete stuff:
    <li><a href="/sys/delete_user_results" class="btn btn-info">Delete user results (but not requests)</a></li><br/>
    <li><a href="/sys/delete_user_requests" class="btn btn-info">Delete user requests</a></li><br/>
    <li><a href="/sys/remove_last_crawl" class="btn btn-info">Delete last crawl</a></li><br/>
    </ul>
    <ul>Categories:
    <li><a href="/sys/generate_categories" class="btn btn-info">Generate categories</a></li><br/>
    <li><a href="/sys/delete_categories" class="btn btn-info">Delete categories</a></li><br/>
    </ul>
    </ul>
    <ul>Sanctions:
    <li><a href="/sys/add_sdn" class="btn btn-info">Add OFAC sanctions</a></li><br/>
    <li><a href="/sys/add_eu" class="btn btn-info">Add EU sanctions</a></li><br/>
        <li>TODO:<li>add updater job to get most recent list</li></li>
    </ul>
    
    <br/><br/>
    
    <h3>Vasta küsimustele:</h3><br/>
{% for q in faq %}
<div class="card-panel">
  <form method="post" action="/app/faq?action=remove_question">
    <input type="hidden" name="question_id" value="{{ q.key.id() }}" />
    <input type="submit" value="Remove" />
  </form>
<span style="color:  {% if not q.answered %}red{% else %}#000{% endif %};">
<b>Q: </b> {{ q.question }}<br/>
<b>A: </b> {{ q.answer }}<br/>
</span>
  <form method="post" action="/app/faq?action=answer_question">
    <input type="text" name="answer" placeholder="" value="{% if q.answered %}{{ q.answer }}{% endif %}"/>
    <input type="hidden" name="question_id" value="{{ q.key.id() }}" />
    <input type="submit" value="{% if not q.answered %}Answer{% else %}Change Answer{% endif %}" />
  </form>
</div><br/>
  
 {% endfor %}


  
   <br/><br/>
   <h3>Allikate haldamine:</h3><br/>
   
<form style="margin: 0; padding: 0;" action="/admin/manage?action=create_main" method="post"> 
     <input type="text" name="cat_name" value="" placeholder="maincategory name" />
     <input type="submit" class="btn btn-info" style="font-size: 12px;" value="{% trans %}Create Maincategory{% endtrans %}" />
   </form>
    {% for main_cat in catlist %}
      
        <ul style="width: 500px;">
       <li style="background-color: #CC99FF;"><b>Maincategory: {{ main_cat[0].maincategory_name }} </b> - 
       <form style="margin: 0; padding: 0; float: right;" action="/admin/manage?action=delete_main" method="post">
         <input type="hidden" name="cat_name" value="{{ main_cat[0].maincategory_name }}" />
         <input type="submit" class="btn btn-danger" style="font-size: 12px;" value="{% trans %}Delete Maincategory{% endtrans %}" />
       </form>
       <ul>
        <form style="margin: 0; padding: 0;" action="/admin/manage?action=create_sub" method="post">
         <input type="text" name="cat_name" value="" placeholder="subcategory name" />
         <input type="hidden" name="parent_cat" value="{{ main_cat[0].maincategory_name }}"/>
         <input type="submit" class="btn btn-info" style="font-size: 12px;" value="{% trans %}Create Subcategory{% endtrans %}" />
       </form><br/>
            
                    {% for sub_cat in main_cat[1] %} 
                    
                      <li style="background-color: #CC66FF;"><b>Subcategory: {{ sub_cat[0].subcategory_name }} </b> - 
                      <form style="margin: 0; padding: 0; float: right;" action="/admin/manage?action=delete_sub" method="post">
                       <input type="hidden" name="cat_name" value="{{ sub_cat[0].subcategory_name }}" />
                       <input type="submit" class="btn btn-danger" style="font-size: 12px;" value="{% trans %}Delete Subcategory{% endtrans %}" />
                     </form>
                      <ul>
                       <form style="margin: 0; padding: 0;" action="/admin/manage?action=create_cat" method="post">
                         name:<input type="text" name="cat_name" value="" placeholder="category name"/><br/>
                         link:<input type="text" name="cat_link" value="" placeholder="category link" />
                         <input type="hidden" name="parent_cat" value="{{  sub_cat[0].subcategory_name }}"/>
                         <input type="submit" class="btn btn-info" style="font-size: 12px;" value="{% trans %}Create Category{% endtrans %}" />
                       </form><br/>
                       
                       {% for cat in sub_cat[1] %} 
                        
                        <li><b>Category:</b> <a href=" {{ cat.category_link }}">{{ cat.category_name }}</a> - 
                        <form style="margin: 0; padding: 0; display: inline;" action="/admin/manage?action=delete_cat" method="post">
                       <input type="hidden" name="cat_name" value="{{ cat.category_name }}" />
                       <input type="submit" class="btn btn-danger" style="font-size: 10px;" value="{% trans %}Delete Category{% endtrans %}" />
                     </form>
                        </li>
                       {% endfor %}
                                             
                       
                               
                        </ul></li>
                        <br/>
                     {% endfor %}
                     
              </ul></li></ul>
                      {% endfor %}</li>
                      <br/><br/>
        
 
    
   
{% endblock %}</ul>