{% extends "base.html" %}
{% block title %} lawcats - FAQ {% endblock %}
{% block page_title %} FAQ {% endblock %}
{% block error %}
  
{% endblock %}
{% block content %}

<div class="row">
  <div class="col s12">
      <div class="card-panel">
        <h5>{% trans %}Ask a question{% endtrans %}:</h5>
        <form method="post" action="faq?action=ask_question">
        
          <div class="input-field col s12">
                  <input
                    name="question"
                    type="text"
                    id="ask_question">
                  <label for="ask_question">{% trans %}Ask a question{% endtrans %}</label>
                </div>
                
          <!--<input id="ask_question" type="text" name="question"  />-->
          <input class="btn" type="submit" value="{% trans %}Ask{% endtrans %}" />
        </form>
      </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <ul class="collapsible popout" data-collapsible="accordion">
    {% for q in faq %}
      <li>
        <div class="collapsible-header"><i class="mdi-action-question-answer"></i>{{ q.question }}</div>
        <div class="collapsible-body"><p>{{ q.answer }}</p></div>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
            
{% endblock %}