{% extends "base.html" %}

{% block content %}

<h1>{% trans %}Password Change{% endtrans %}</h1>

<div style="width: 300px">
<form action="/password" method="post">
            
            <div class="form-group">
                  <span class="input-group-addon" id="basic-addon1">{% trans %}Password{% endtrans %}</span>
                    <input class="form-control" name="password" placeholder="" type="password" autofocus>
             </div>
             
             <div class="form-group">
                <span class="input-group-addon" id="basic-addon1">{% trans %}Confirm Password{% endtrans %}</span>
                    <input class="form-control" name="confirm_password" placeholder="" type="password" autofocus>
             </div>
    <input type="hidden" name="t" value="{{ token }}" />
    <input type="submit" class="btn btn-lg btn-success btn-block" value="{% trans %}Update password{% endtrans %}">
</form>
</div>

{% endblock %}