{% extends "base.html" %}
{% block title %}{% trans %}Search{% endtrans %}{% endblock %}
{% block content %}

  <div class="row">
    <div class="col-xs-12">
      <ul class="nav nav-pills nav-justified" role="tablist"> <!-- top tabs area -->

        <li role="presentation" class="active">
          <a
            href="#monitoring"
            role="pill"
            data-toggle="pill">
            {% trans %}Media & Government{% endtrans %}
          </a>
        </li>

        <li role="presentation">
          <a
            href="#custom"
            role="pill"
            data-toggle="pill">
            {% trans %}Custom{% endtrans %}
          </a>
        </li>

      </ul>
    </div>
  </div>

  <!-- tabs content -->
  <div
    class="row"
    ng-app="searchApp"
    ng-controller="SearchController as sc">

    <div class="col-xs-12">
      <div class="tab-content">

        <div class="tab-pane fade in active" id="monitoring">
          <div class="tab-content">
            <div class="tab-pane fade in active">
              <form class="form-horizontal">
                <div class="form-group">
                  <label
                    class="control-label col-sm-2"
                    for="monitoring-querywords-input">
                    {% trans %}Keywords{% endtrans %}
                  </label>

                  <div class="col-sm-10">
                    <input
                      type="text"
                      id="monitoring-querywords-input"
                      class="form-control"
                      ng-model="sc.querywords"
                      placeholder="{% trans %}keywords, another keyword{% endtrans %}" />
                  </div>
                </div>

                <div class="form-group">
                  <label
                    class="control-label col-sm-2">
                    {% trans %}Sources{% endtrans %}
                  </label>

                  <div class="col-sm-10">
                    <ng-categories
                      ng-model="sc.searchSources"
                      categories="sc.sources"
                      forbidden-categories="['Arhiivid', 'Sanktsioonid', 'Kohturegistrid', 'Custom']">
                    </ng-categories>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-10 col-sm-offset-2">
                    <button
                      class="btn btn-primary"
                      ng-click="sc.searchFrom('monitoring')">
                      {% trans %}Search{% endtrans %}
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="custom"> <!-- custom sources -->
          <div class="tab-content">
            <div class="tab-pane fade in active" id="search-custom-source">
              <form class="form-horizontal">
                <div class="form-group">
                  <div class="col-sm-offset-6 col-sm-6 text-right">
                    <a href="#add-custom-source"
                       role="pill"
                       data-toggle="pill">
                      {% trans %}Add new source{% endtrans %}
                    </a>
                  </div>
                </div>
                <div class="form-group">
                  <label
                    class="control-label col-sm-2"
                    for="custom-querywords-input">
                    {% trans %}Keywords{% endtrans %}
                  </label>

                  <div class="col-sm-10">
                    <input
                      type="text"
                      id="custom-querywords-input"
                      class="form-control"
                      ng-model="sc.querywords"
                      placeholder="{% trans %}keyword, another keyword{% endtrans %}" />
                  </div>
                </div>

                <div class="form-group">
                  <label
                    class="control-label col-sm-2">
                    {% trans %}Sources{% endtrans %}
                  </label>

                  <div class="col-sm-10">
                    <ng-categories
                      ng-model="sc.searchSources"
                      categories="sc.sources"
                      allowed-categories="['Custom']">
                    </ng-categories>
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-10 col-sm-offset-2">
                    <button
                      class="btn btn-primary"
                      ng-click="sc.searchFrom('custom')">
                      {% trans %}Search{% endtrans %}
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="tab-pane fade" id="add-custom-source">
              <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {% trans %}You can add your own sources.
                They will be tried to be implemented into the system automatically, and if that should succeed, it shouldn't take more
                than a couple of seconds. Just give us the link and a short description of what do you want our robots to look for.
                {% endtrans %}
              </div>
              <form action="#" class="form-horizontal">
                <div class="form-group">
                  <div class="col-sm-offset-6 col-sm-6 text-right">
                    <a href="#search-custom-source"
                       role="pill"
                       data-toggle="pill">
                      {% trans %}Search custom source{% endtrans %}
                    </a>
                  </div>
                </div>
                <div class="form-group">
                  <label
                    class="control-label col-sm-2"
                    for="src_request_link">
                    {% trans %}Link to Source{% endtrans %}
                    <a tabindex="0" class="badge" role="button" data-toggle="popover" data-trigger="focus"
                     data-content="{% trans %}Make sure it begins with http or www{% endtrans %}">?</a>
                  </label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="sc.newSourceUrl"/>
                  </div>
                </div>

                <div class="form-group">
                  <label
                    class="control-label col-sm-2"
                    for="src_request_desc">
                    {% trans %}Brief description{% endtrans %}
                    <a tabindex="0" class="badge" role="button" data-toggle="popover" data-trigger="focus"
                     data-content="{% trans %}If our engine fails to implement your source automatically, this helps us understand what were you trying to search.{% endtrans %}">?</a>
                  </label>

                  <div class="col-sm-10">
                    <input type="text" class="form-control" ng-model="sc.newSourceDescription" />
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-10 col-sm-offset-2">
                    <div class="progress progress-striped active" ng-show="sc.loading">
                      <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                      </div>
                    </div>
                    <div ng-hide="sc.loading">
                      <button
                        class="btn btn-primary"
                        ng-click="sc.sendNewSource()">
                        {% trans %}Send request{% endtrans %}
                      </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- results area -->
    <div class="col-xs-12" ng-show="sc.hasSearched">

      <!-- results search field -->
      <input
        type="text"
        class="form-control"
        ng-model="resultSearchQuery"
        placeholder="{% trans %}Search results{% endtrans %}" />

      <table class="table table-hover" id="results-table">

        <tbody>
          <tr
            ng-repeat="result in sc.results |
                       filter: resultSearchQuery
                       track by $index">
            <td ng-bind="result.queryword ? result.queryword : '{% trans %}All keywords{% endtrans %}'">
            </td>
            <td ng-bind="result.result_date"></td>
            <td ng-bind="result.categories"></td>
            <td>
              {% raw %}
                <a class="result-title-link" target="_blank" href="{{result.result_link}}" ng-bind="result.result_title"></a>
              {% endraw %}
            </td>

          </tr>
        </tbody>
      </table>

      <div class="progress progress-striped active" ng-show="sc.loading">
        <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        </div>
      </div>

      <div
        ng-hide="sc.loading || sc.results.length"
        class="alert alert-info"
        role="alert">
        {% trans %}No results{% endtrans %}.
      </div>
    </div>
  </div>

{% endblock %}
{% block footer %}
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="http://cdn.jsdelivr.net/webshim/1.12.4/extras/modernizr-custom.js"></script>
<script src="http://cdn.jsdelivr.net/webshim/1.12.4/polyfiller.js"></script>
<script>
  // shim datepicker for firefox
  webshims.setOptions('waitReady', false);
  webshims.setOptions('forms-ext', {types: 'date'});
  webshims.polyfill('forms forms-ext');
</script>
<script src="/static/js/controllers/search.js"></script>
{% endblock %}
