{% extends "base.html" %}
{% block title %}
    {% trans %}Admin{% endtrans %}
{% endblock %}
{% block page_title %}
{% trans %}Sysadmin{% endtrans %}
{% endblock %}
{% block head %}
 <script src="/static/js/operations.js"></script>
{% endblock %}
{% block content %}

<li><a href="/sys/download_riigihtml" class="btn btn-info">Download Riigi HTML</a></li><br/>
<li><a href="/sys/reindex_law" class="btn btn-info">Reindex laws</a></li><br/>
<li><a href="/sys/delete_categories" class="btn btn-info">Delete categories</a></li><br/>
<li><a href="/sys/create_categories" class="btn btn-info">Create categories</a></li><br/>

{% endblock %}