{% extends "base.html" %}
{% block title %}
    {% trans %}Admin{% endtrans %}
{% endblock %}
{% block page_title %}
{% trans %}Sysadmin{% endtrans %}
{% endblock %}
{% block head %}
 <script src="/static/js/operations.js"></script>
{% endblock %}
{% block content %}

<li><a href="/sys/generate_categories" class="btn btn-info">Generate categories</a></li>
<li><a href="/sys/erase_categories" class="btn btn-info">Erase categories</a></li>
<li><a href="/sys/generate_laws" class="btn btn-info">Generate laws</a></li>
<li><a href="/sys/generate_laws_metadata/first_batch" class="btn btn-info">Generate laws meta first batch</a></li>
<li><a href="/sys/generate_laws_metadata/second_batch" class="btn btn-info">Generate laws meta second batch</a></li>


{% endblock %}